* {
	font-family: inter;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing {
	height: 100vh;
	text-align: center;
}

#canvas {
	width: 100%;
	max-width: 1000px;
}

canvas {
	display: block;
	margin: auto;
}

#title {
	font-size: 0.8rem;
}

#result {
	font-size: 0.8rem;
	padding: 0 2rem;
}

a,
a:hover {
	color: #000;
	font-size: 0.8rem;
}

@media (max-width: 768px) {
	#title {
		font-size: 0.9rem;
	}

	#result {
		font-size: 0.9rem;
	}

	a,
	a:hover {
		color: #000;
		font-size: 0.9rem;
	}
}

@font-face {
	font-family: inter;
	src: url(fonts/inter.ttf);
}
