* {
  font-family: inter;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

#landing {
  height: 100vh;
}

#canvas {
  height: 70vh;
}

a,
a:hover {
  color: #000;
}

.clickable {
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}

@font-face {
  font-family: inter;
  src: url(fonts/inter.ttf);
}